#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
     randychavez:sesamo
  expire: False

users:
  - name: randychavez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7MSpJiWW1cDYFPIwc4/QbvzYVOvUSBHbiBqdNN6qQpVS8zGPgxi/SnyxP19pnOl1E62XN81jDSmU6eh/IUOAWEWVK9IRcLTKs8jSgxB5s5Frl8jYQ2Gj46nbFzaKF/+oSAuc4zHO1EKX8P2tcfZT+XamXceTVHlMOJAW5WMdtyvy9BJtPO+Rfj1gFT24uowwEPxlcfOcyUUHI0HLCOyqLHgxunIJfNZgk6cJyUzTZTamRHH1D7vd7WR7/MbRTOMeT2m+dLfiIr+EzYQW8y+BmbLRQnR8Xjk9ywFIdtZqzpW086y7kaLB7IOAhBZEHsgCLsJQJ0oK7NmpG7+q0qkVf randychavez@randychavez
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
